#profile-photo {
  border: ridge;
  border-width: 8px;
  border-color: #FFFFFF;
  border-radius: 75px;
}

.img-child {
  position: absolute;
  top: 125px;
  left: 100px;
}

.img-parent {
  position: relative;
}

.text-child {
  position: absolute;
  top: 350px;
  left: 400px;
  color: #FFFFFF;
}

.social-media:hover {
  border: solid;
  border-width: 8px;
  border-color: #000000;
  border-radius: 100px;
}