#profile-photo {
  border: ridge;
  border-width: 8px;
  border-color: #FFFFFF;
  border-radius: 75px;
}

.img-child {
  position: absolute;
  top: 125px;
  left: 10%;
}

.img-parent {
  position: relative;
}

.text-child {
  position: absolute;
  top: 350px;
  left: 35%;
  color: #FFFFFF;
}

.social-media:hover {
  border: solid;
  border-width: 8px;
  border-color: #000000;
  border-radius: 100px;
}

.headline-font {
  font-family: 'Ranga', cursive;
  font-size: 60px;
}

.section-header {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

.title-place {
  color: #00008B;
}

.title-position {
  color: #008000;
}

.title-location {
  color: #808080;
}